<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar Padel</title>
    <%- include('partials/head') %>
 
  </head>
  <body class="bg-black">
    <%- include('partials/profile') %>
      <%- include('partials/header') %>
      <main>
        <div class="mx-auto cardDeporte  rounded text-center border  border-secondary " >
         <section class="bg-black p-5 w-100 rounded">
              <p class="text-light p-4">Su  reserva ha sido realizada con éxito</p>
              <div class="d-flex justify-content-end">
                <div class="dropdown mb-5">
                  <a  class="d-block  text-decoration-none"  data-bs-toggle="dropdown" aria-expanded="false">
                    <button class="btn-w-2  text-light btn border-secondary">Reservar otra cancha</button>
                  </a>
                  <ul class="dropdown-menu text-small  bg-black  btn-w-2" >
                    <li ><a class="dropdown-item text-secondary" href="reservarSquash">Squash</a></li>
                    <li ><a class="dropdown-item text-secondary" href="reservarPadel">Padel</a></li>
                    </ul>
                </div>
              </div>
         </section>
            <div class="card-body">
               <div class="p-2">
                   <h5 class="card-title my-3" >Padel</h5>
               <div class="d-flex justify-content-around">
                <div class="recuadroGris rounded d-flex flex-column align-items-center justify-content-center">
                  <h6 class="mb-0 mx-1"> Viernes</h6>
                  <div class="d-flex justify-content-center align-items-center">
                   <img class="iconoCalendar" src="../img/calendar.svg">
                   <p class=" mb-0 mx-1">20/07/22</p>
                  </div>
                </div>
                <div class="recuadroGris rounded d-flex flex-column align-items-center justify-content-center ">
                  <h6 class="mb-0 mx-1"> 20:30 hs</h6>
                  <div class="d-flex justify-content-center align-items-center ">
                   <img class="iconoCalendar" src="../img/clock.svg">
                   <p class=" mb-0 mx-1">60 min</p>
                  </div>
                 </div>
             </div>
           </div>
              <div>
                <a href="https://web.whatsapp.com/send?phone=5493512521739&text=Hola,%20necesito%20cancelar%20una%20reserva%20" target="_blank" class="btn bg-black text-light btn-sm px-5 mt-3 mb-5"> 
                  <img class="iconoW" src="../img/whatsapp.svg" alt="">
                  Cancelar Reservar </a>
              </div>
            </div>
          </div>
      </main>
      <%- include('partials/footer') %>

      <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>