
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
  display: flex;
  flex-direction: column;
  align-content: stretch;
   min-height: 100vh;
}

main{
  min-height: 80vh;
}
h1{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
 
}

.bg-blue{
background: blue;
color: white;

}
.btn-w-2{
    width: 200px;
}

.logoRedes{

    width: 35px;
    margin:10px;
}

.seccionLogin{
    height: 70vh;
    width: 100%;
}
.formLogin{

    width: 350px;
}

.logo1, .logo2{
    width: 100px;
}


.imgDeporte{
width: 15vw;
min-width: 130px;
margin:4px;
object-fit: cover;

}


.reservaCancha{
   max-width: 90vw;
   margin-top: 20px;
  
}

li.hora{
   list-style: none;
   margin-right: 7px;
}


.dateForm{
    border: none;
    
}

.card-img-top {

max-height: 300px;
object-fit: cover;
}

.cardDeporte{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 18rem;
    background-color: whitesmoke;
    margin: auto;
    
}
.recuadroGris{
    
    width: 48%;
    background-color: darkgrey;
  }

  .iconoCalendar{
    width: 12px;
    padding-left: 2px;
  }

.iconoW{
  width: 16px;
  padding-bottom: 2px;
}

.imgMisReservas{
   width: 100px;
   object-fit: cover;
   
}
.misReservas{
  max-width: 400px;

}

.profile{
    position: absolute;
    right: 30px;
    top: 10px;
    
}
  

@media (max-width: 1500px){
    /* Pantalla grande*/

.logo2{
    display: none;
}
.imgPortada{
    margin-top: -16px;
}

.cardSeleccionFecha, .reservaCancha{
    width: 700px;
    
}

.seleccionaDeporte{
    width: 50%;
}

}

@media (max-width: 450px){
    /* celular*/
.logo2{
    display: flex;
    margin: 20px;
}
.logo1{
    display: none;
}

.imgPortada{
    margin-top: 10px;
    margin-bottom: 30px;
}


}


