<table class="table table-responsive table-sm">
          
          
    <thead>
      <tr> 
        <th>
        <h5>Squash</h5>  
        </th>
      </tr>
      <tr>
        <th scope="col">Hora</th>
        <th scope="col">Cancha 1</th>
        <th scope="col">Cancha 2</th>
        <th scope="col">Cancha 3</th>
        
      </tr>
    </thead>
    <tbody>
   
        <tr>
          <td>15:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        
        </tr>

        <tr><td>15:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr><td>16:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>16:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>17:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>17:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>18:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
         
        </tr>
        <tr>
          <td>18:30</td>
        <td>
          <h6>Nombre Cliente</h6>
        </td>
        <td>
          <h6>Nombre Cliente</h6>
        </td>
        <td>
          <h6>Nombre Cliente</h6>
        </td>
        </tr>
        <tr>
          <td>19:00</td>
        <td>
          <h6>Nombre Cliente</h6>
        </td>
        <td>
          <h6>Nombre Cliente</h6>
        </td>
        <td>
          <h6>Nombre Cliente</h6>
        </td>
        </tr>
        <tr>
          <td>19:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>20:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>20:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>21:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>21:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>22:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>22:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>23:00</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
        <tr>
          <td>23:30</td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
          <td>
            <h6>Nombre Cliente</h6>
          </td>
        </tr>
       
        
   
    </tbody>
  </table>

