<table class="table table-responsive table-sm ">
    <thead>
      <tr> 
        <th>
         <h5>Padel</h5>
        </th>
      </tr>
      <tr>
        <th scope="col">Hora Inicio</th>
        <th scope="col">Hora Final</th>
        <th scope="col">Duración</th>
        <th scope="col">Cancha </th>
        
      </tr>
    </thead>
    
        <tbody>
         
            <tr>

              <td>cancha </td>
              <td> hora_inicio</td>
              <td>hora_final/td>
              <td> duracion</td>
          
              <td>
                <h6> usuario</h6>
              </td>
             
        </tbody>
       
      </table>
  