<footer class="bg-black">
    <section class="d-flex  align-bottom justify-content-center">
<a href="https://www.instagram.com/monami_ps/" target="_blank"><img class="logoRedes" src="../img/instagram.svg"   alt="logoInstagram"></a>
<a href="https://www.facebook.com/MonAmi-Padel-Squash-321323184579412/photos/" target="_blank" ><img class="logoRedes" src="../img/facebook.svg" alt="logoFacebook"></a>
<a href="https://web.whatsapp.com/send?phone=5493512521739&text=Hola%20%C2%BFNecesitas%20reservar%20una%20cancha%3F"  target="_blank" ><img class="logoRedes" src="../img/whatsapp.svg" alt=""></a> 
</section>
  </footer>