
<header class="py-3 mb-3 border-secondary border-bottom " >
<div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 1fr 1fr;">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../img/list.svg" alt="">
          </a>
      <ul class="dropdown-menu shadow text-small bg-black text-center" aria-labelledby="dropdownNavLink">
        <li><a class="dropdown-item color-whitesmoke text-secondary" href="/" >Inicio</a></li>
        <li><a class="dropdown-item color-whitesmoke text-secondary" href="reservarSquash">Squash</a></li>
        <li><a class="dropdown-item text-secondary" href="reservarPadel">Padel</a></li>
        <li><hr class="dropdown-divider bg-light"></li>
        <li><a class="dropdown-item text-secondary text-secondary" href="login">Iniciar sesión</a></li>
      </ul>
    </div>
    <a class="d-flex justify-content-center" href="/">
      <img class="logo1" src="../img/logo-sin-fondo.png" alt="logo"  >
    </a>
    <div class="d-flex justify-content-end">
      <div >
        <a href="misReservas" class="d-block link-dark text-decoration-none" >
          <button class="text-light btn">Mis Reservas</button>
        </a>
      
      </div>
    </div>
  </div>
</header>